<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue demo</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app-2">
        <span v-bind:title="message">
			Hover your mouse over me for a few seconds to see my dynamically bound title!
		</span>
        <p v-if="seen">Now you see me</p>
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
        <p>{{message2}}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
        <p>{{message3}}</p>
        <input type="text" v-model="message3">
    </div>
    <div id="app-7">
        <ol>
            <!--
            现在我们为每个 todo-item 提供 todo 对象
            todo 对象是变量，即其内容可以是动态的。
            我们也需要为每个组件提供一个“key”，晚些时候我们会做个解释。
            -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>
</body>
<script src="index.js"></script>

</html>