<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue demo</title>
    <script src="../vue.js"></script>
</head>

<body>
    <!-- 单个插槽 -->
    <div id="singleSlot">
        <h1>我是父组件的标题</h1>
        <my-component>
            <p>这是一些初始内容</p>
            <p>这是更多的初始内容</p>
        </my-component>
    </div>

    <!-- 具名插槽 -->
    <app-layout id="namedSlot">
        <h1 slot="header">这里可能是一个页面标题</h1>

        <p>主要内容的一个段落。</p>
        <p>另一个主要段落。</p>

        <p slot="footer">这里有一些联系信息</p>
    </app-layout>

    <!-- 作用域插槽 -->
    <div id="app">
        <my-awesome-list :items="items">
            <!-- 作用域插槽也可以是具名的 -->
            <li slot="item" slot-scope="props" class="my-fancy-item">
                {{ props.text }}
            </li>
        </my-awesome-list>
    </div>

    <!-- 动态组件 -->
    <!-- keep-alive 把切换出去的组件保留在内存中，可以保留它的状态或避免重新渲染 -->
    <div id="keepAlive">
        <keep-alive>
            <component v-bind:is="currentView">
                <!-- 组件在 vm.currentview 变化时改变！ -->
            </component>
        </keep-alive>
    </div>

    <!-- 异步组件 -->
    <div id="async">
        <async-example></async-example>
    </div>
    <script src="contentDistributionWithSlots.js"></script>
</body>

</html>