<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue demo</title>
    <script src="../vue.js"></script>
</head>

<body>
    <ul id="exmaple-1">
        <li v-for="item in items">
            {{item.message}}
        </li>
    </ul>
    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{parentMessage}} - {{index}} - {{item.message}}
        </li>
    </ul>
    <!-- 一个对象的v-for -->
    <ul id="v-for-project" class="demo">
        <li v-for="value in object">
            {{value}}
        </li>
        <div v-for="(value,key,index) in object">
            {{index}}.{{key}}:{{value}}
        </div>
    </ul>
    <!-- 显示过滤/排序结果 -->
    <ul id="example-3">
        <li v-for="n in evenNumbers">{{n}}</li>
        <li v-for="n in evenNumbers">{{n}}</li>
    </ul>
    <!-- 一个组件的 v-for -->
    <div id="todo-list-example">
        <input type="text" v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
        <ul>
            <li is="todo-item" v-for="(todo,index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index,1)"></li>
        </ul>
    </div>
</body>
<script src="index.js"></script>

</html>